sudo: required
services:
  - docker

before_install:
  - docker build -t rahulpargi/webapp -f Dockerfile.dev .

script:
  - docker run -e CI=true rahulpargi/webapp npm run test

deploy:
  provide: elasticbeanstalk
  skip_cleanup: true
  region: "us-east-2"
  app: "webapp"
  env: "Webapp-env"
  bucker_name: "elasticbeanstalk-us-east-2-246344753294"
  bucket_path: "webapp"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"

language: generic
